@font-face {
    font-family: "ds-digi";
    src: url("./fonts/DS-DIGI.TTF");
}

html {
    height: 100%;
}

#body {
    background-color: darkslateblue;
    background-image: url("/images/mainfondo.gif");
    background: cover;
    color: honeydew;
    text-align: -webkit-center;
    margin-top: 150px;
    background-position: center;
}

p {
    font-size: 25px;
}


/* .inputCiudad {
border: none;
border-radius: 16px 0px 16px 0px;
border-bottom: 3px solid #3B444F;
} */

.container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

#h1Text {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.container-hora #hora {
    font-family: ds-digi;
    font-size: 25px;
    position: absolute;
    right: 40px;
    top: 30px;
    background-color: rgba(26, 28, 23, 0.58);
    border-radius: 5px;
    width: 100px;
}

.container-temp {
    font-size: 30px;
    font-weight: 600;
    color: honeydew;
    display: grid;
    justify-content: center;
    margin-top: 50px;
    width: 300px;
}

#icon {
    text-align: center;
    width: 100px;
    height: 100px;
}

#flag {
    text-align: center;
    width: 100px;
    height: 70px;
    position: absolute;
    top: 30px;
    left: 40px;
    border-radius: 10px;
}

#temp {
    text-align: center;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 10px;
}


/* ----------------Toast input void---------------------- */

#toast,
#toast2 {
    visibility: hidden;
    min-width: 200px;
    margin-left: -125px;
    background-color: rgb(161, 45, 45);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    top: 5px;
    right: 7rem;
    font-size: 17px;
}

#toast.show,
#toast2.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 5px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 5px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 5px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 5px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}


/* ----------------SPINNER---------------------- */

#spinner {
    display: none;
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f25a41;
    border-radius: 100%;
    position: absolute;
    top: 0%;
    bottom: 8%;
    left: 46%;
    right: 46%;
    margin: auto;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#spinner.show {
    display: flex;
}


/* ----------- Media Query ----------- */

@media only screen and (max-width: 880px) {
    .container-hora #hora {
        font-size: 25px;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 100px;
    }
    #flag {
    text-align: center;
    width: 70px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    }
    #body {
    background-color: darkslateblue;
    background-image: url("/images/mainfondo.gif");
    background: cover;
    color: honeydew;
    text-align: -webkit-center;
    margin-top: 100px;
    background-position: center;
    }
}

@media only screen and (max-width: 414px) {
    #spinner {
        display: none;
        width: 80px;
        height: 80px;
        border: 2px solid #f3f3f3;
        border-top: 3px solid #f25a41;
        border-radius: 100%;
        position: absolute;
        top: 0%;
        bottom: 8%;
        left: 40%;
        right: 46%;
        margin: auto;
        animation: spin 1s infinite linear;
    }
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    #spinner.show {
        display: flex;
    }
}